name: Check streamX CLI commands

on:
  workflow_dispatch:
    inputs:
      streamx_source:
        type: choice
        description: Choose building or installing streamX  
        options:
        - build
        - install
        required: true
        default: 'build'
  push:
    branches:

permissions:
  id-token: write

jobs:
  check-streamx-cli-commands:

    runs-on: ubuntu-latest
    steps:

      - name: Checkout Code
        uses: actions/checkout@v3

      - id: 'auth'
        name: 'Authenticate to Google Cloud'
        uses: 'google-github-actions/auth@v2'
        with:
          workload_identity_provider: ${{ secrets.GCP_STREAMX_RELEASES_WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ secrets.GCP_STREAMX_RELEASES_READ_SA }}

      - name: Set up JDK 17s
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: Set up managing aliases
        run: |
          rc=/tmp/rcfile
          echo 'shopt -s expand_aliases' > $rc

      - name: Set up homebrew 
        if: inputs.streamx_source == 'install'
        uses: 'Homebrew/actions/setup-homebrew@master'

      - name: Install StreamX via Homebrew
        if: inputs.streamx_source == 'install'
        run: |
          brew install streamx-dev/tap/streamx

      - name: Build streamX
        if: inputs.streamx_source == '' || inputs.streamx_source == 'build'
        run: |
          ./mvnw clean install
          rc=/tmp/rcfile
          echo 'alias streamx="java -jar $(ls ./distribution/target/streamx-cli-*-runner.jar)"' >> $rc
          cat /tmp/rcfile

      - name: Run streamX in Backgrounds
        run: |
          source /tmp/rcfile
          streamx --version
          streamx run -f ./.github/workflows/workflows_data/streamx-mesh.yml
          # nohup streamx run -f ./.github/workflows/workflows_data/streamx-mesh.yml > background_output.log 2>&1 & 
          echo "Started command in the background. Process ID: $!"

      - name: Wait for STREAMX IS READY!
        run: |
          for i in {1..36}; do 
            if grep -q "STREAMX IS READY!" background_output.log; then
              echo "Defined string found in background output."
              break
            else
              echo "STREAMX still starting, retrying in 5 seconds..."
              sleep 5
            fi
          done

      - name: Run StreamX CLI tests
        run: |
          source /tmp/rcfile
          cd ./.github/workflows_data/
          chmod +x ./test_streamx_cli.sh
          . test_streamx_cli.sh http://localhost:8081

