name: 'Release: new CLI version using JReleaser'

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    outputs:
      released-version: ${{ steps.prepare-release.outputs.RELEASED_VERSION }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - id: 'auth'
        name: 'Authenticate to Google Cloud'
        uses: 'google-github-actions/auth@v2'
        with:
          workload_identity_provider: ${{ secrets.GCP_STREAMX_RELEASES_WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ secrets.GCP_STREAMX_RELEASES_READ_SA }}

      - name: Configure Git
        run: |
          git config --global user.email "github.actions@streamx.dev"
          git config --global user.name "${GITHUB_ACTOR}"
          mkdir -p ~/.ssh
          printf '%s\n' "${{ secrets.SSH_SECRET_KEY }}" > ~/.ssh/id_rsa
          chmod 0600 ~/.ssh/id_rsa

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: Release prepare
        id: prepare-release
        run: |
          ./mvnw -B release:prepare
          RELEASED_VERSION=$(git describe --tags --abbrev=0)
          echo "RELEASED_VERSION=${RELEASED_VERSION}" >> $GITHUB_ENV
          echo "RELEASED_VERSION=${RELEASED_VERSION}" >> $GITHUB_OUTPUT

      - name: Release perform
        env:
          JRELEASER_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          JRELEASER_HOMEBREW_GITHUB_TOKEN: ${{ secrets.JRELEASER_HOMEBREW_GITHUB_TOKEN }}
          JRELEASER_SCOOP_GITHUB_TOKEN: ${{ secrets.JRELEASER_SCOOP_GITHUB_TOKEN }}
        run: |
          ./mvnw -B release:perform -P release

  release-jira:
    needs: release
    uses: ./.github/workflows/helper-release-jira.yaml
    secrets: inherit
    with:
      tag: ${{ needs.release.outputs.released-version }}
